*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62,5%;
}

h1{
    font-size: 3rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.text-change{
    color: #1E2939;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2C3C54;
}
.container-change{
    background-color: #d8d8d8;
}
.switch{
    width: 90px;
    height: 30px;
    background-color: #1E2939;
    border-radius: 15px;
    position: relative;
    border: 1px solid #1E2939;
    padding: 1rem;
}
.switch-change{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;


}
.btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: -1px;
    left: -1px;
}
.btn-change{
    right: -1px;
    left: auto;
    background-color: #1E2939;
}
.switch i{
    position: absolute;
    color: #FFD363;
    right: 9px;
    top:6px;
}
.icon-change{
    left: 12px;
}